@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    font-size: 16px;
    }

header{
    background-color: #90BE6D;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-family: 'Rubik', sans-serif;

    color: black;
}

.logo{
    margin-right: auto;
    margin-left: 135px;
    padding: 1.5rem 0px;
    
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 1rem;
}

.nav_links li a{
    color: black;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(254, 250, 224);
}

.button{
    margin-right: 2rem;
    padding: 9px 25px;
    background-color: rgba(254, 250, 224, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button::hover{
    background-color: rgba(254, 250, 224, 0.8);
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profileCard{
    background-color: rgba(0, 168, 232, 0.6);
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 2.5rem;
    margin-right: 135px;
    width: 300px;
    height: 570px;
}

#t-mrg-0{
    margin-top: 0;
}

.profileCard figure{
    padding-left: 95px;
    padding-top: 40px;
    font-weight: bold;
}



.avatar{
    width: 110px;
    height: 110px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.avatar_image{
    display: inline;
    margin: 0 auto;
    margin-left: -25%; 
    height: 100%;
    width: auto;
}

.profileCard figcaption{
    margin-top: 40px;
    margin-bottom: 40px;

    font-size: 25px;
}

.profileCard nav ul{
    list-style: none;
    padding-left: 75px;
}

.profileCard nav ul li{
    margin-top: 15px;
}

.Update-Account{
    font-size: 10px;
    margin-top: 1rem;
}

.Update-Account a{
    color: black;
}


.postSection{
    background-color: #cbf3f0;
    height: 570px;
    width: 1004px;

    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-right: 2.5rem;

    overflow: scroll;
    overflow-x: hidden;

    font-family: 'Nunito', sans-serif;
}

#scrollbar::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

.post{
    background-color: #ffffff;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}

.author-post{
    font-style: italic;
}

footer{
    background-color: #90BE6D;
}