<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Font-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/base.css') }}">
    <!-- FLashed messages are declared here and appear at the top of the page  -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}    
    {% endwith %}
    {% block head %}{% endblock %}
</head>
<body>

    <header>
        <h1 class="logo">Website</h1>
        <nav> 
            <ul class="nav_links">
                {% if current_user.is_authenticated %}
                <!-- This is where all the post will be  -->
                <li><a href="{{ url_for('main.home') }}">Home</a></li>
                <!-- Write a post, the links beneath this only works only if you are logged in  -->
                <li><a href="{{ url_for('posts.new_post') }}">Write</a></li>
                <!-- Look at your profile  -->
                <li><a href="{{ url_for('users.profile') }}">Profile</a></li>
                <!-- Logout  -->
                <li><a href="{{ url_for('users.logout') }}">Logout</a></li>
                {% else %}
                <!-- This is where all the post will be  -->
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <!-- Log in  -->
                <li><a href="{{ url_for('users.login') }}">Login</a></li>
                <!-- If you dont have an account Sign up  -->
                <li><a href="{{ url_for('users.signup') }}">Sign up</a></li>
                {% endif %}
            </ul>
        </nav>
        <!-- Contact us  -->
        <button class="button">Contact</button>
    </header>

    {% block body %}{% endblock %}

    <footer>
        Hello
    </footer>
</body>
</html>