{% extends 'base.html' %}

{% block head %}
<!--Website Title-->
<title>Home</title>
<!--link-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/profile.css') }}">
{% endblock %}

{% block body %} 

    
<div class="content">
    <aside class="profileCard">
        <figure>
            <div class="avatar">
                <img src="{{ image_file }}" class="avatar_image">
            </div>
            <figcaption>{{ current_user.username }}</figcaption>
        </figure>
        <nav>
            <ul> 
                <li id="t-mrg-0">Name: {{ current_user.username }}</li>
                <li>Age: {{ current_user.age }}</li>
                <li>Bio: {{current_user.bio }}</li>
                <li class="Update-Account"><a href="{{ url_for('users.account') }}">Update Account</a></li>
            </ul>
        </nav>
    </aside>
    <main class="postSection" id="scrollbar">
        {% for post in posts.items %}
        <div class="post">
            <h3 class="title-post"><a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h3>
            <small class="author-post"><a href="{{ url_for('users.user_post', username=post.author.username) }}">{{ post.author.username }} {{ post.date_posted.strftime('%Y-%m-%d') }}</a></small>
            <p>
                {{ post.content }}
            </p>
        </div>
        {% endfor %}
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a style="color: red; text-decoration: none;" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a style="color: green; text-decoration: none;" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>

                {% endif %}

            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </main>
</div>
        

{% endblock %}