{% extends 'base.html' %}

{% block head %}
<!--Website Title-->
<title>Reset Request</title>
<!--link-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='css/signup_login.css') }}">
{% endblock %}

{% block body %} 


<form class="loginBox" method="POST" action="">
    {{ form.hidden_tag() }}
          
    {% if form.email.errors %}
        {{ form.email(class="textbox-invalid", placeholder="Email") }}
        <div class="invalid-feedback">
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.email(class="textbox", placeholder="Email") }}
    {% endif %}

    {{ form.submit(class="button") }}
</form>


{% endblock %}